@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
  /* Red theme */
  --primary-color: #C91A09; /* red 700 */
  --secondary-color: #1B1B1B; /* red 900 */
  --accent-color: #FFD500; /* light red */
  --background-color: #A7A9AC; /* very light red/pink tint */
  --text-color: #0055BF;
  /* Use Poppins from Google Fonts (fallback stack included) */
  --font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
